api_platform:
    title: Hello API Platform
    version: 1.0.0
    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
    formats:
            jsonld: ['application/ld+json']
            json: ['application/json']
            html: ['text/html']
    eager_loading:
            max_joins: 20  # par défaut 10, augmente si nécessaire