framework:
    secret: '%env(APP_SECRET)%'
    session: true
    serializer:
        default_context: { max_depth: true }

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
